<header>
    <h1>Stream Team</h1>
    <div id="search-bar">
        <input type="text" id="search-input" placeholder="Search by title or author">
        <button id="search-btn">Search</button>
    </div>
    <button id="post-video-open-btn">Post a Video</button>
    <button id="logout-btn">Log Out</button>
</header>