<header>
    <h1>
        <a href="/videos" id="home-link">Stream Team</a>
    </h1>
    <div id="search-bar">
        <input type="text" id="search-input" placeholder="Search by title or author">
        <button id="search-btn">Search</button>
        <select id="dropdown-menu">
            <option value="Sort by...">Sort by...</option>
            <option value="Author: A-Z">Author: A-Z</option>
            <option value="Title: A-Z">Title: A-Z</option>
            <option value="Length: Shortest">Length: shortest-longest</option>
        </select>
    </div>
    <button id="dark-mode-toggle"> Dark Mode </button>
    <button id="post-video-open-btn">Post a Video</button>
    <button id="logout-btn">Log Out</button>
</header>