{{> header}}

<div id="main-container">
    <main id="main-vid">
        {{> video video}}
    </main>
    <aside id="other-videos">
        <h3>Other Videos</h3>
        <div id="other-videos-flex">
            {{#each videoList}}
            <div class="rec-video-post">
                {{> video}}
            </div>
            {{/each}}
        </div>
    </aside>
</div>